<div class="container">
  <form [formGroup]="carForm">
    <div class="card">
      <h1>Mon véhicule</h1>
      <div class="controlBlock anchor">
        <div class="controlBlock_title">Je souhaite assurer</div>
        <mat-radio-group aria-label="Select an option" formControlName="reInsure">
          <mat-radio-button [value]="true" class="radio">Un véhicule que je possède déjà</mat-radio-button>
          <mat-radio-button [value]="false">Un nouveau véhicule</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="controlBlock anchor" *ngIf="carForm.get('reInsure').value === false">
        <div class="controlBlock_title">Ce nouveau véhicule est</div>
        <mat-radio-group aria-label="Select an option" formControlName="newCar">
          <mat-radio-button value="replace" class="radio">Un véhicule remplaçant mon véhicule actuel</mat-radio-button>
          <mat-radio-button value="additional" class="radio">Un véhicule supplémentaire</mat-radio-button>
          <mat-radio-button value="first">Mon premier véhicule</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="controlBlock">
        <div class="controlBlock_title"> Je recherche mon véhicule à partir de </div>
        <mat-radio-group aria-label="Select an option" formControlName="searchBy">
          <mat-radio-button value="registrationNumber" class="radio">Sa plaque d'immatriculation</mat-radio-button>
          <mat-radio-button value="carProperties">Ses caractéristiques</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="controlBlock anchor" *ngIf="carForm.get('searchBy').value === 'registrationNumber'">
        <div class="controlBlock_title">Mon n° d'immatriculation est</div>
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="" formControlName="registrationNumber" />
          <button mat-button *ngIf="carForm.get('registrationNumber').value" matSuffix mat-icon-button
            aria-label="Clear" (click)="carForm.get('registrationNumber').setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <span class="registrationNumberFormat">Format: AA-123-AA ou 1(234) A(BC) 12</span>
      </div>
      <div class="controlBlock anchor" formGroupName="carProperties"
        *ngIf="carForm.get('searchBy').value === 'carProperties'">
        <div class="controlBlock_title"> Mon véhicule a été mis pour la 1ère fois en circulation en </div>
        <div>
          <mat-form-field class="formField">
            <input matInput [matDatepicker]="dp" formControlName="firstMEC" />
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="hidden anchor" [class.visible]="carForm.get(['carProperties', 'firstMEC']).valid">
          <mat-form-field class="formField ">
            <mat-label>Marque de mon véhicule</mat-label>
            <mat-select formControlName="brand">
              <mat-option *ngFor="let brand of (brands$ | async)" [value]="brand"> {{ brand }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="hidden anchor" [class.visible]="carForm.get(['carProperties', 'brand']).valid">
          <mat-form-field class="formField ">
            <mat-label>Modèle de mon véhicule</mat-label>
            <mat-select formControlName="model">
              <mat-option *ngFor="let model of (models$ | async)" [value]="model"> {{ model }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="carForm.get(['carProperties', 'model']).valid" class=" anchor">
          <mat-form-field class="formField anchor">
            <mat-label>Carburant de mon véhicule</mat-label>
            <mat-select formControlName="fuelType">
              <mat-option *ngFor="let fuelType of fuelTypes" [value]="fuelType"> {{ fuelType }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="carForm.get(['carProperties', 'fuelType']).valid">
          <mat-form-field class="formField anchor">
            <mat-label>Puissance fiscale de mon véhicule</mat-label>
            <mat-select formControlName="fiscalPower">
              <mat-option *ngFor="let fiscalPower of fiscalPowers" [value]="fiscalPower"> {{ fiscalPower }} CV
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="hidden anchor" [class.visible]="carForm.get(['carProperties', 'fiscalPower']).valid">
          <mat-form-field class="formField ">
            <mat-label>Version de mon véhicule</mat-label>
            <mat-select formControlName="carVersion">
              <mat-option *ngFor="let carVersion of (versions$ | async); let index" [value]="index"> {{ carVersion | formatVersion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button class="nextStep" *ngIf="currentStep < 2" [disabled]="
          carForm.get('carProperties').invalid &&
          carForm.get('registrationNumber').invalid
        " (click)="setStep(2)"> Passer à l'étape suivante <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
    <div class="card" *ngIf="shouldShowStep(2)">
      <h1>Conditions d'acquisition de mon véhicule</h1>
      <div class="controlBlock anchor">
        <div class="controlBlock_title"> J'indique comment j'acquiers mon véhicule pour que la formule la plus adaptée à
          mes besoins puisse m'être proposée </div>
        <mat-radio-group aria-label="Select an option" formControlName="financing">
          <mat-radio-button value="upfront" class="radio">Comptant</mat-radio-button>
          <mat-radio-button value="credit" class="radio">A crédit</mat-radio-button>
          <mat-radio-button value="other">Autre</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </form>
</div>
<pre>{{ carForm.value | json }}</pre>
