h1 {
  text-transform: uppercase;
  margin: 0 0 27px;
}
.card {
  background: white;
  padding: 50px;
  margin-bottom: 50px;
}
pre {opacity: 0;}
form {
  padding-top: 100px;
}
.controlBlock {
  border-top: 1px #eaeaea solid;
  padding: 22px 0;
  &_title {
    margin-bottom: 6px;
  }
}
.radio {
  margin-right: 24px;
}
.registrationNumberFormat {
  font-size: 12px;
  padding-left: 40px;
}

.formField {
  min-width: 300px;
}

.nextStep {
  background: #fe4080;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  cursor: pointer;
  color: white;
  border: none;
  align-items: center;
  padding: 10px 15px;
  justify-content: flex-end;
  &:disabled {
    background-color: #ffc3d8;
  }
}

.hidden {
  display: none;
  &.visible {
    display: block;
  }
}
